.h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.table {
  width: 50%;
  border-collapse: collapse;
  box-shadow: 0px 0px 12px var(--corPrincipal);
  outline: var(--corPrincipal);
}

.thead {
  background-color: var(--corPrincipal);
  color: var(--corSecundaria);
  text-align: left;
}

.th {
  padding: 18px;
}

.tbody {
  background-color: var(--corSecundaria);
  color: #141313;
}

.destacaCampo {
  background-color: var(--corPrincipal);
  color: var(--corSecundaria);
  font-weight: bold;
}

.td {
  padding: 1rem;
}

@media (max-width: 640px) {
  .table {
    width: 100%;
  }

  .h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 22px;
  }

  .th {
    padding: 18px;
    font-size: 16px;
  }

  .tbody {
    background-color: var(--corSecundaria);
    color: #000;
  }

  .td {
    padding: 1rem;
    font-size: 12px;
  }
}
